<html>

	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>


	<body>
		<div class="container">
			<!-- Page Content goes here -->

			<div class='flash'>
				{% with messages = get_flashed_messages() %}
				{% if messages %}

				<ul>
					{% for message in messages %}
					<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}

			</div>

			<div class="row">

				<div class="row headingrow">
					<div class="col s9">
						<h3 style="color: black; text-align:left;">{{ restaurant.name }}</h3>
					</div>
					<div class="col s3">
						<a class="newMenuItem right waves-effect waves-light btn-small" style="color:white; margin-top:50px; " href='{{url_for('newMenuItem', restaurant_id=restaurant_id) }}'>New Menu Item</a>
					</div>

				</div>
				{% for i in items %}
				<div class="col s6">
					<div class="card horizontal" width="100%" style="height:300px;">

						<div class="card-stacked">
							<div class="card-content">
								<div class="row">
									<div class="col s10">
										<span class='name'>
											<p>{{i.name}}</p>
										</span>

									</div>
									<div class="col s2">
										<span class='price'>
											<p>{{i.price}} </p>
										</span>
									</div>
								</div>
								<div class="row">
									<div class="col s12 ">
										<p style="text-align:center;">{{i.desription}}</p>
									</div>
								</div>

							</div>
							<div class="card-action" style="border-top: black, 1px;">
								<a class=" left waves-effect waves-light btn-small" href='{{url_for('editMenuItem',restaurant_id = restaurant.id, menu_id=i.id)}}'>Edit</a>
								<a class="right waves-effect waves-light btn-small" href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id)}}'>
									Delete</a>
							</div>
						</div>
					</div>
				</div>


				{% endfor %}
			</div>
		</div>
	</body>


</html>
